.portafolio {
    padding: 2em 0;
    overflow-x: hidden;
    .carrusel {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        
        transform: translate(0px);
        transition: 5s;
    }

    .movimiento {
        transform: translate(-300px);
        transition: 7s;
    }
    
}

