$fuentes : (
    "regular" : 'Geist-regular',
    "medium" : 'Geist-medium',
    "semibold" :  'Geist-semibold',
    "bold" :  'Geist-bold'

);
@use 'colores';
@use 'fuentes';

.cta-section {
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    
    
    .cta_contenedor {
        min-height: 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: colores.$black;
        gap: 40px;
        border: 1px solid colores.$green;

        border-radius: 1.5em;
        padding: 2em;

        h5 {
            color: #fff;
            font-family: map-get($fuentes , "bold" );
        } @media (max-width: 526px) {
            h5 {
            text-align: center;
            }
        }
        
        .btn-cta {
            width: 200px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: colores.$black;
            color: #fff;
            border: 1px solid colores.$green;
            border-radius: 1em;

            text-decoration: none;
            transition: .4s ease;

            &:hover {
                color: colores.$black;
                background-color: colores.$green;
                transition: .4s ease;
            }
        }
    }  @media (max-width:767px) {
        .cta_contenedor  {
            flex-direction: column;
            gap: 0;
          

        }
    }
}