$fuentes : (
    "regular" : 'Geist-regular',
    "medium" : 'Geist-medium',
    "semibold" :  'Geist-semibold',
    "bold" :  'Geist-bold'

);

@use 'colores';
@use 'fuentes';
@use 'form';

.footer {
    background-color: colores.$black;
    color: #fff;
    min-height: 200px;
    border-top: 1px colores.$green solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3em 0 ;
    .hablemos {
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
    .redes {
        display: flex;
        flex-direction: row;
        gap: 20px;
        li {
            list-style: none;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(280deg) brightness(107%) contrast(102%);
        }
    }
    .copy_complet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        h6 {
            color: #fff;
            text-align: left;
           padding-right: 2.4em;
            span {
                color: colores.$green;
                font-family: map-get($fuentes , "bold" );
            }
        } @media (max-width: 991px) {
            h6 {
                padding-right: .5em;
            }
        }
    }
   
    .copy {
        display: flex;
        flex-direction: row;
        gap: 10px;
        min-height: 50px;
        align-items: center;
       justify-content: center;
       margin-top: 3em;
       
    }
    .form-control {
        border-radius: 0;
    }
    .btn-send {
        width: 100%;
        border-radius: 0;
        margin-top: 1em;
        background-color: colores.$black;
        border:  1px colores.$green solid;

        font-family: map-get($fuentes, "semibold" );
    }
    
}