.navbar {
    background: transparent;
    transition: 1s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    .navbar-nav {
        
        gap: 20px;
    }
    .redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        li {
            list-style: none;
            
            &:first-child, &:nth-child(2) {
                 padding-right: 1em;
            }
        }
    }
}
.dark {
    background-color: #F9FAFC;
    transition: 150ms ease;
    border-bottom: 2px #00F385 solid;
}