@use 'colores';

.valla {
    min-height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: colores.$green;
    color: colores.$black;

    gap: 20px;

    padding: 1em;
    .cta {
        background-color: colores.$black;
        min-height: 30px;
        width: auto;

        padding: .7em 2em;
        border-radius: 1em;

        color: colores.$green;
        text-decoration: none;
    }
    .cta:hover {
        background-color: colores.$medium-black;
        color: colores.$green;
    }
}
