$fuentes : (
    "regular" : 'Geist-regular',
    "medium" : 'Geist-medium',
    "semibold" :  'Geist-semibold',
    "bold" :  'Geist-bold'

);

@use 'colores';
@use 'fuentes';
@use 'header';
@use 'servicio';

h1 {
    font-family: map-get($fuentes, "medium" );
    font-size: 1.5em;
}

.formulario {
    .container {
        padding: 0 10em 4em 10em ;
        form {
            .boton {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 2em;
                
                .btn-primary {
                    background-color: colores.$black;
                    color: colores.$green;
                    border: none;
                    &:hover {
                        background-color: colores.$green;
                        color: colores.$black;
                    }
                }
            }
        }
    }
}