$fuentes : (
    "regular" : 'Geist-regular',
    "medium" : 'Geist-medium',
    "semibold" :  'Geist-semibold',
    "bold" :  'Geist-bold'

);
@use 'colores';
@use 'fuentes';
@use 'servicio';
@use 'header';
@use 'infodetalles';
@use 'lista';
@use 'cta';
@use 'grid-audiovisuales';


.txtdark {
    color: #000;
}
.bgdark {
    background: colores.$medium-black;
    transition: .5s ease;
    color: #fff;
}