$fuentes : (
    "regular" : 'Geist-regular',
    "medium" : 'Geist-medium',
    "semibold" :  'Geist-semibold',
    "bold" :  'Geist-bold'

);
@use 'colores';
@use 'fuentes';
@use 'servicio';
@use 'header';
@use 'cportafolio';
@use 'infodetalles';
@use 'lista';
@use 'cta';

.intro {
    padding: 0 0 3em 0;
    transition: .5s;
    .intro_contenido {
        background: url(/public//img/carrusel/1.svg);
        width: 100%;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 2em;
        object-fit: cover;

        transition: .5s ease-in;
    }
}
.extracto { 
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .container {
        width: 100%;
        p {
            margin-left: 100px;
            width: 40%;
        } @media (max-width: 991px) {
            p {
                margin-left: 30px;
                width: 80%;
            }
        }
    }
}

