$fuentes : (
    "regular" : 'Geist-regular',
    "medium" : 'Geist-medium',
    "semibold" :  'Geist-semibold',
    "bold" :  'Geist-bold'

);
@use 'colores';
@use 'fuentes';
@use 'servicio';
@use 'header';
@use 'cportafolio';
@use 'infodetalles';
@use 'lista';
@use 'cta';
@use 'carrusel-logos';


.intro {
    padding: 0 0 3em 0;
    transition: .5s;
    .intro_contenido {
        background: url(/public//img/carrusel/cabecera.jpg);
        width: 100%;
        height: 680px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 2em;
        object-fit: cover;

        transition: .5s ease-in;
    }
}
.extracto { 
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .container {
        width: 100%;
        p {
            margin-left: 100px;
            width: 40%;
        } @media (max-width: 991px) {
            p {
                margin-left: 30px;
                width: 80%;
            }
        }
    }
}

.contenido-visual {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: colores.$medium-black;
    margin-top: 4em;
    margin-bottom: 4em;
    padding-top: 3em;
    padding-bottom: 3em;
    

.contenido-visual__txt {
    h2 {
        color: colores.$green;
        span{
            color: #fff;
        }
    }
    p {
        color: #fff;
    }
    .btn-visuales {
    background-color: colores.$green;
    color: colores.$black;

    border: transparent;
    border-radius: 1em;
    text-decoration: none;

    padding: 1em 1.5em;
    &:hover{
    background-color: #fff;
    transition: .5s ease;
   } 
   transition: .5s ease;
    
   } 
} @media (max-width:800px) {
     .contenido-visual__txt {
        text-align: center;
     }
   }
   
   

}

